/* Empty. Add your own CSS if you like */

/*轮播图开始*/
body {

}
div.nearby-slide-search{
    position: absolute;
    z-index: 3;
    width: 90%;
    height: 45px;
    bottom: 20px;
    background: #ffffff;
    margin: 0 19px;

    border-radius: 4px;
}
.nearby-slide-img {
    position: relative;
    z-index: 2;

}
div.nearby-slide-search .item-input-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
    -moz-box-flex: 1;
    -moz-flex: 1 0;
    -ms-flex: 1 0;
    flex: 1 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding-right: 0px;
    padding-left: 0px;
    background: #ffffff;
    height: 50px;
}
div.nearby-slide-search .item-input-wrapper input {
    margin: 0 auto;
    width: 280px;
    height: 40px;
    font-size: 16px;
    line-height: 45px;
    border-left: 1px solid #eeeeee;
    text-align: center;
}
div.nearby-slide-img i {
    font-size: 25px;
    margin: 0 15px 0 0;
    font-weight: bold;
}
div.nearby-slide-img button {
    /*background: red;*/
    width: 80px;
    height: 45px;
    line-height: 38px;
    color: #999;
}
.ion-record:before {
    content: "";
}
/*轮播图结束*/

div.nearby-title {
    height: 40px;
    width: 100%;
    /*background: beige;*/
    text-align: center;
}
div.nearby-title button {
    font-size: 20px;
    height: 40px;
    font-weight: bold;
    line-height: 35px;
    width: 100px;
    /*background: red;*/
    margin: 0 10px;
}
div.nearby-title button.nearby-title-change {
    color: #308acb;
}
div.list {
    background: #eeeeee;
}
.card, .list-inset {
    overflow: hidden;
    margin: 5px 5px;
    border-radius: 2px;
    background-color: #fff;
}
.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 150px;
    max-height: 100px;
    width: 100%;
    height: 100%;
}
.nearby-list ion-item{
    position: relative;
    height:120px;
    border-radius: 4px;
    border: 1px solid #dddddd;
}
.nearby-list ion-item img {
     /*position: relative;*/
}
.nearby-list ion-item .nearby-list-detail {
    position: absolute;
    top:12px;
    left: 170px;
}
.nearby-list ion-item .nearby-list-detail h2 span {
    font-size: 8px;
    color: #308acb;
    padding-left: 2px;
}
.nearby-list ion-item p.nearby-list-say {
    position: absolute;
    bottom: 6px;
    left: 170px;
    white-space: normal;
    padding: 0 0 0 2px;
    font-size: 10px;
}
/*发现页css开始*/

div.find-title {
    height: 40px;
    width: 100%;
    /*background: beige;*/
    text-align: center;
}
div.find-title button {
    font-size: 20px;
    height: 40px;
    font-weight: bold;
    line-height: 35px;
    width: 90px;

    /*background: red;*/
    /*margin: 0 4px;*/
}
div.find-title button.find-title-change {
    color: #308acb;

}


div.find-second-title {
    height: 30px;
    width: 100%;
    /*background: beige;*/
    text-align: left;
    /*line-height: 25px;*/
}
div.find-second-title button {
    font-size: 14px;
    height: 30px;
    font-weight: bold;
    line-height: 18px;
    width: 90px;

    /*background: red;*/
    /*margin: 0 4px;*/
}
div.find-second-title button.find-second-title-change {
    color: #308acb;

}
div.find-second-title button.find-second-title-left {
    float: right;
    /*background: red;*/
    text-align: right;
    font-size: 20px;
    width: 50px;
    margin: 0 4px 0 0;
    line-height: 26px;
}


.find-list ion-item{
    position: relative;
    height:120px;
    border-radius: 4px;
    border: 1px solid #dddddd;
}
.find-list ion-item img {
    /*position: relative;*/
}
.find-list ion-item .find-list-detail {
    position: absolute;
    top:12px;
    left: 170px;
}
.find-list ion-item .find-list-detail h2 {
    white-space: normal;
    font-size: 13px;
    line-height: 18px;
}
.find-list ion-item .find-list-detail span {
    font-size: 12px;
    margin: 0 5px 0 0;
    padding: 1px 8px;
    background: #308acb;
    color: #ffffff;
    border-radius: 5px;
}
.find-list ion-item div.find-list-say {
    position: absolute;
    bottom: 6px;
    left: 170px;
    white-space: normal;
    padding: 0 0 0 2px;
    font-size: 10px;
}
.find-list ion-item div.find-list-say p {
    float: left;
    margin: 0 10px 0 0;
    font-size: 12px;
}

/*发现页css结束*/

/*消息CS开始*/
div.talk-title {
    height: 45px;
    width: 100%;
    /*background: beige;*/
    text-align: center;
}
div.talk-title button {
    font-size: 20px;
    height: 45px;
    font-weight: bold;
    line-height: 40px;
    width: 90px;
}
div.talk-title button.talk-title-change {
    color: #308acb;

}
div.talk-title button.talk-title-left {
    float: left;
    text-align: left;
    font-size: 30px;
    width: 50px;
    margin: 0 0 0 4px;
}
div.talk-title button.talk-title-right {
    float: right;
    text-align: right;
    font-size: 30px;
    width: 50px;
    margin: 0 0 0 4px;
}



.talk-title ion-item{
    position: relative;
    height:120px;
    border-radius: 4px;
    border: 1px solid #dddddd;
}
.talk-title ion-item img {
    /*position: relative;*/
}
.talk-title ion-item .talk-title-detail {
    position: absolute;
    top:12px;
    left: 170px;
}
.talk-title ion-item .talk-title-detail h2 {
    font-size: 20px;
    padding-top: 5px;
}
.talk-title ion-item p.talk-title-say {
    position: absolute;
    bottom: 6px;
    left: 170px;
    white-space: normal;
    padding: 0 0 0 2px;
    font-size: 10px;
}

/*消息CSS结束*/

/*注册页register开始*/
.register {
    background: #ffffff url(../img/bg.jpg) no-repeat;
    background-size:100%;
}
.register-button {
    background: #ffffff;
    text-align: center;
    margin: 0  auto;
    height: 70px;
    line-height: 70px;

}
.register-button button {
    font-size: 18px;
    width: 150px;
    background: #ffffff;
    margin: auto;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #eeeeee;
}
.register-button button.register-login {
    background: #308acb;
    color: #ffffff;
}

/*注册页register结束*/

/*注册页register-detail开始*/
.register-detail .button,.register-phone .button {
    background: #308acb;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}
.bar-light .button.activated {
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    background-color: #31b6e7;
}
.register-detail-button {
    background: #308acb;
    color: #ffffff;
    font-weight: bold;
}

.popup-container .popup {
    background: #ffffff;
}
.ion-checkmark:before {
    color: #308acb;
}
input[readonly]:not(.cloned-text-input) {
    background-color:#ffffff;
}
/*注册页register-detail结束*/

/*注册页neearby-theme开始*/
ion-item.nearby-theme-img {
    height: 200px;
}
ion-item.nearby-theme-title {
    height: 65px;
    text-align: center;
}
ion-item.nearby-theme-title p {
    font-size: 16px;
    font-weight: bold;
    margin-top: -8px;
    margin-bottom: 5px;
}
ion-item.nearby-theme-title span {
    text-align: center;
    background: #308acb;
    padding: 2px 10px;
    border-radius: 10px;
    color: #ffffff;
}
ion-item.nearby-theme-tag {
    padding:8px 0;
    text-align: center;
}
ion-item div.nearby-theme-tag-detail {
    float: left;
    width: 33.333333333333333%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    /*background: red;*/
}
ion-item div.nearby-theme-tag-center {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

ion-item.nearby-theme-content {
    white-space: normal;
    padding: 15px;
    margin: 8px 0 5px 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    line-height: 20px;
    letter-spacing: 1.2px;
}
ion-item.nearby-theme-content p {
    position: relative;
    white-space: normal;
    font-size: 15px;
    line-height: 24px;
    /*margin-bottom: 10px;*/
}
ion-item.nearby-theme-content button {
    position: absolute;
    /*background: red;*/
    padding: 10px 25px;
    right: 0;
    bottom: 0;
    font-size: 14px;
}


ion-item.nearby-theme-content .ion-ios-arrow-down:before {
    content: "";
    float: right;
    padding: 5px 0 0 4px;
    font-size: 8px;
}
ion-item.nearby-theme-assess {

}
ion-item.nearby-theme-assess div.nearby-theme-assess-left {
    /*background: red;*/
    width: 20%;
    float: left;
}
ion-item.nearby-theme-assess div.nearby-theme-assess-right {
    /*background: bisque;*/
    width: 80%;
}
ion-item.nearby-theme-assess div.nearby-theme-assess-right span {
    text-align: center;
    background:#cecece;
    padding: 3px 15px;
    border-radius: 25px;
    margin-left: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}
ion-item.nearby-theme-assess div.nearby-theme-assess-right span.nearby-theme-assess-good {
    background:#ff0000;
}
ion-item.nearby-theme-assess {
    padding: 15px;
    margin: 0 0 2px 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
ion-item.nearby-theme-assess-detail {
    position: relative;
}
ion-item.nearby-theme-assess-detail span {
    position: absolute;
    top: 16px;
    right: 16px;

}
ion-item.nearby-theme-assess-detail p{
    white-space: normal;
}
div.nearby-theme-button {
    height: 50px;
}
div.nearby-theme-button button {
    height: 50px;
    width: 20%;

    /*background: red;*/
}
div.nearby-theme-button button.nearby-theme-button-right {
    width: 60%;
    background: #308acb;
    color: #ffffff;
    float: right;
    border: none;
    margin: -5px 0 0 0;
    font-size: 18px;
    font-weight: bold;
}
div.nearby-theme-button button.nearby-theme-button-center {
    border-right: none;
    border-left: 1px solid #eeeeee;
    border-top: none;
    border-bottom: none;
    background: #ffffff;
}
.nearby-theme div.bar {
    border-top:none;
    padding: 5px 0;
}
ion-content.nearby-theme-all {
    margin-bottom: 50px;
    background: #ffffff;
}
/*注册页neearby-theme结束*/
/*注册页user 开始*/
ion-item.user-img {
    height: 200px;
    text-align: center;
}
ion-item.user-img img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
ion-item.user-img h2 {
    font-size: 20px;
}
ion-item.user-img button {
    background: #4e9cd3;
    padding: 10px 50px;
    color: #ffffff;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    font-size: 16px;
}
ion-item.user-list-button {
    padding: 10px 0;
    text-align: center;
}

ion-item.user-list-button div {
    width: 25%;
    /*background: red;*/
    float: left;

}
ion-item.user-list-button i {
    font-size: 28px;

}
ion-item.user-list-button p {
    font-size: 8px;

}
.user-content .item-divider {
    padding-top: 5px;
    padding-bottom: 5px;
     min-height: 10px;
    background-color: #f5f5f5;
    color: #222;
    font-weight: 500;
}
.ion-ios-arrow-right:before {
    content: "";
    float: right;
}
.item.activated {
    background-color: #ffffff;
    border-color: #dddddd;
}
/*注册页user 结束*/
