<ion-view hide-tabs class="nearby-theme" view-title="武洁">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()">

    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-icon ion-ios-upload-outline" ng-click="$ionicGoBack()">

    </button>
  </ion-nav-buttons>

  <ion-content class="nearby-theme-all">
    <ion-list class="nearby-theme-list">
      <ion-item style="background: #ffffff url('/img/logo.png');border-bottom:1px solid #000000 " class="nearby-theme-img">

      </ion-item>
      <ion-item class="nearby-theme-title">
        <p>大学生如何稳扎稳打实现自己的创业梦想</p>
        <span>创业</span>
      </ion-item>
      <ion-item class="nearby-theme-tag">
        <div class="nearby-theme-tag-detail">
          <i class="icon ion-ios-location-outline"></i> 110km
        </div >
        <div class="nearby-theme-tag-detail nearby-theme-tag-center">
          <i class="icon ion-ios-pulse"></i> 510
        </div>
        <div class="nearby-theme-tag-detail">
          <i class="icon ion-ios-cart-outline"></i> 34
        </div>
      </ion-item>
      <ion-item class="card nearby-theme-content">
        <p>那你呢你哈哈哈试试对对对看看,哈哈哈快捷键.
        那你呢你哈哈哈试试对对对看看,哈哈哈快捷键.
        那你呢你哈哈哈试试对对对看看,哈哈哈快捷键.
        那你呢你哈哈哈试试对对对看看,哈哈哈快捷键.
        那你呢你哈哈哈试试对对对看看,哈哈哈快捷键
        那你呢你哈哈哈试试对对对看看,哈哈哈快捷键....</p>
        <button class="icon ion-ios-arrow-down right"> more</button>
      </ion-item>
      <ion-item class="card nearby-theme-assess">
        <div class="nearby-theme-assess-left">
          评价 (95)
        </div>
        <div class="nearby-theme-assess-right">
          <span class="nearby-theme-assess-good">很好 (95)</span> <span>一般 (0)</span> <span>不好 (0)</span>
        </div>



      </ion-item>

      <ion-item class="nearby-theme-assess-detail item-avatar-left">

        <img  ng-src="img/logo.png" class="find-list-logo">
        <h2>苗公</h2>
        <span>2016-10-28</span>
        <p>大学生如何稳扎稳打实现自己的创业梦.听君一席话,胜读十年书.大学生如何稳扎稳打实现自己的创业梦.听君一席话,胜读十年书.</p>
      </ion-item>

      <ion-item class="nearby-theme-assess-detail item-avatar-left">

        <img  ng-src="img/logo.png" class="find-list-logo">
        <h2>苗公</h2>
        <span>2016-10-28</span>
        <p>大学生如何稳扎稳打实现自己的创业梦.听君一席话,胜读十年书.大学生如何稳扎稳打实现自己的创业梦.听君一席话,胜读十年书.</p>
      </ion-item>
      <ion-item class="nearby-theme-assess-detail item-avatar-left">

        <img  ng-src="img/logo.png" class="find-list-logo">
        <h2>苗公</h2>
        <span>2016-10-28</span>
        <p>大学生如何稳扎稳打实现自己的创业梦.听君一席话,胜读十年书.大学生如何稳扎稳打实现自己的创业梦.听君一席话,胜读十年书.</p>
      </ion-item>



    </ion-list>


  </ion-content>

  <div class="bar bar-footer nearby-theme-button">
    <button class="ion-ios-heart-outline"> 收藏</button>
    <button class="nearby-theme-button-center ion-ios-paper-outline"> 资料</button>
    <button class="nearby-theme-button-right">预约</button>
  </div>

</ion-view>
