<ion-view hide-nav-bar="true" view-title="附近">
  <ion-content>



    <!--轮播图 开始-->
    <!--<div class="nearby-slide">-->
      <div class="nearby-slide-img">
        <div class="nearby-slide-search">
          <label class="item-input-wrapper">
            <button class="icon icon-left ion-ios-arrow-down"> 定位</button>
            <input type="search" placeholder="  输入关键字或词" ng-model="searchContent">
            <i class="icon ion-ios-search placeholder-icon"></i>
          </label>
        </div>

          <ion-slide-box does-continue="true" auto-play="true" slide-interval="3000">
            <ion-slide>
              <img src="img/banner01.jpeg" alt="" width="100%">
            </ion-slide>
            <ion-slide>
              <img src="img/banner02.png" alt="" width="100%">
            </ion-slide>
            <ion-slide>
              <img src="img/banner03.png" alt="" width="100%">
            </ion-slide>
          </ion-slide-box>
      </div>
    <!--</div>-->
    <!--轮播图结束-->

    <div class="nearby-title">
      <button ng-click="ceshi()" class="nearby-title-change">匠</button><button>匠技</button>
    </div>

    <ion-list class="nearby-list">
        <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
          <img  ng-src="img/logo.png" class="nearby-list-logo">
          <div class="nearby-list-detail">
            <h2>武洁<span> 匠</span></h2>
            <p><i class="icon ion-location"></i> 220km</p>
          </div>
          <p class="nearby-list-say">匠心语：想别人不敢想，做别人不敢做。</p>

        </ion-item>

      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/logo.png" class="nearby-list-logo">
        <div class="nearby-list-detail">
          <h2>武洁<span> 匠</span></h2>
          <p><i class="icon ion-location"></i> 220km</p>
        </div>
        <p class="nearby-list-say">匠心语：想别人不敢想，做别人不敢做。</p>

      </ion-item>
      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/logo.png" class="nearby-list-logo">
        <div class="nearby-list-detail">
          <h2>武洁<span> 匠</span></h2>
          <p><i class="icon ion-location"></i> 220km</p>
        </div>
        <p class="nearby-list-say">匠心语：想别人不敢想，做别人不敢做。</p>

      </ion-item>
      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/logo.png" class="nearby-list-logo">
        <div class="nearby-list-detail">
          <h2>武洁<span> 匠</span></h2>
          <p><i class="icon ion-location"></i> 220km</p>
        </div>
        <p class="nearby-list-say">匠心语：想别人不敢想，做别人不敢做。</p>

      </ion-item>
      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/logo.png" class="nearby-list-logo">
        <div class="nearby-list-detail">
          <h2>武洁<span> 匠</span></h2>
          <p><i class="icon ion-location"></i> 220km</p>
        </div>
        <p class="nearby-list-say">匠心语：想别人不敢想，做别人不敢做。</p>

      </ion-item>
      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/logo.png" class="nearby-list-logo">
        <div class="nearby-list-detail">
          <h2>武洁<span> 匠</span></h2>
          <p><i class="icon ion-location"></i> 220km</p>
        </div>
        <p class="nearby-list-say">匠心语：想别人不敢想，做别人不敢做。</p>

      </ion-item>
      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/logo.png" class="nearby-list-logo">
        <div class="nearby-list-detail">
          <h2>武洁<span> 匠</span></h2>
          <p><i class="icon ion-location"></i> 220km</p>
        </div>
        <p class="nearby-list-say">匠心语：想别人不敢想，做别人不敢做。</p>

      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
