<ion-view hide-nav-bar="true" view-title="">
  <ion-content>



    <!--轮播图 开始-->
    <!--<div class="nearby-slide">-->
      <div class="nearby-slide-img">

        <div class="nearby-slide-search">
          <label class="item-input-wrapper">
            <button class="icon icon-left ion-ios-arrow-down"> 定位</button>
            <input type="search" placeholder="  输入关键字或词" ng-model="searchContent">
            <i class="icon ion-ios-search placeholder-icon"></i>
          </label>
        </div>

          <ion-slide-box does-continue="true" auto-play="true" slide-interval="3000">
            <ion-slide>
              <img src="img/banner01.jpeg" alt="" width="100%">
            </ion-slide>
            <ion-slide>
              <img src="img/banner02.png" alt="" width="100%">
            </ion-slide>
            <ion-slide>
              <img src="img/banner03.png" alt="" width="100%">
            </ion-slide>
          </ion-slide-box>
      </div>
    <!--</div>-->
    <!--轮播图结束-->

    <div class="nearby-title">
      <button ng-click="change_one()" class="{{title_change_one}}">匠</button><button class="{{title_change_two}}" ng-click="change_two()">匠技</button>
    </div>

    <ion-list ng-if = "title_change_one && !title_change_two" class="nearby-list">
        <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
          <img  ng-src="img/logo.png" class="nearby-list-logo">
          <div class="nearby-list-detail">
            <h2>武洁<span> 匠</span></h2>
            <p><i class="icon ion-location"></i> 220km</p>
          </div>
          <p class="nearby-list-say">匠心语：想别人不敢想，做别人不敢做。</p>

        </ion-item>

      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/logo.png" class="nearby-list-logo">
        <div class="nearby-list-detail">
          <h2>武洁<span> 匠</span></h2>
          <p><i class="icon ion-location"></i> 220km</p>
        </div>
        <p class="nearby-list-say">匠心语：想别人不敢想，做别人不敢做。</p>

      </ion-item>
      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/logo.png" class="nearby-list-logo">
        <div class="nearby-list-detail">
          <h2>武洁<span> 匠</span></h2>
          <p><i class="icon ion-location"></i> 220km</p>
        </div>
        <p class="nearby-list-say">匠心语：想别人不敢想，做别人不敢做。</p>

      </ion-item>
      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/logo.png" class="nearby-list-logo">
        <div class="nearby-list-detail">
          <h2>武洁<span> 匠</span></h2>
          <p><i class="icon ion-location"></i> 220km</p>
        </div>
        <p class="nearby-list-say">匠心语：想别人不敢想，做别人不敢做。</p>

      </ion-item>
      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/logo.png" class="nearby-list-logo">
        <div class="nearby-list-detail">
          <h2>武洁<span> 匠</span></h2>
          <p><i class="icon ion-location"></i> 220km</p>
        </div>
        <p class="nearby-list-say">匠心语：想别人不敢想，做别人不敢做。</p>

      </ion-item>
      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/logo.png" class="nearby-list-logo">
        <div class="nearby-list-detail">
          <h2>武洁<span> 匠</span></h2>
          <p><i class="icon ion-location"></i> 220km</p>
        </div>
        <p class="nearby-list-say">匠心语：想别人不敢想，做别人不敢做。</p>

      </ion-item>
      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/logo.png" class="nearby-list-logo">
        <div class="nearby-list-detail">
          <h2>武洁<span> 匠</span></h2>
          <p><i class="icon ion-location"></i> 220km</p>
        </div>
        <p class="nearby-list-say">匠心语：想别人不敢想，做别人不敢做。</p>

      </ion-item>
    </ion-list>


    <ion-list ng-if="!title_change_one && title_change_two" class="find-list">
      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%" href="#/tab/nearby-theme">
        <img  ng-src="img/logo.png" class="find-list-logo">
        <div class="find-list-detail">
          <h2>大学生如何稳扎稳打实现自己的创业梦</h2>
          <p><span>CEO</span><span>职业经理人</span></p>
        </div>
        <div class="find-list-say">
          <p><i class="icon ion-ios-location-outline"></i> 220km</p>
          <p><i class="icon ion-ios-cart-outline"></i> 34</p>
        </div>
      </ion-item>

      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/face.png" class="find-list-logo">
        <div class="find-list-detail">
          <h2>大学生如何稳扎稳打实现自己的创业梦</h2>
          <p><span>CEO</span><span>职业经理人</span></p>
        </div>
        <div class="find-list-say">
          <p><i class="icon ion-ios-location-outline"></i> 220km</p>
          <p><i class="icon ion-ios-cart-outline"></i> 34</p>
        </div>
      </ion-item>

      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/face2.jpeg" class="find-list-logo">
        <div class="find-list-detail">
          <h2>大学生如何稳扎稳打实现自己的创业梦</h2>
          <p><span>CEO</span><span>职业经理人</span></p>
        </div>
        <div class="find-list-say">
          <p><i class="icon ion-ios-location-outline"></i> 220km</p>
          <p><i class="icon ion-ios-cart-outline"></i> 34</p>
        </div>
      </ion-item>

      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/face3.jpeg" class="find-list-logo">
        <div class="find-list-detail">
          <h2>大学生如何稳扎稳打实现自己的创业梦</h2>
          <p><span>CEO</span><span>职业经理人</span></p>
        </div>
        <div class="find-list-say">
          <p><i class="icon ion-ios-location-outline"></i> 220km</p>
          <p><i class="icon ion-ios-cart-outline"></i> 34</p>
        </div>
      </ion-item>





    </ion-list>

  </ion-content>
</ion-view>
