<ion-view hide-nav-bar="true" view-title="发现">
  <ion-content>
    <div class="find-title">
      <button class="find-title-change">匠技</button><button>机构</button><button>VIP</button>
    </div>

    <div class="find-second-title">
      <button class="find-second-title-change">创业</button><button>留学</button><button>技能</button><button class="find-second-title-left icon ion-plus-round"></button>
    </div>

    <ion-list class="find-list">
      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/logo.png" class="find-list-logo">
        <div class="find-list-detail">
          <h2>大学生如何稳扎稳打实现自己的创业梦</h2>
          <p><span>CEO</span><span>职业经理人</span></p>
        </div>
        <div class="find-list-say">
          <p><i class="icon ion-ios-location-outline"></i> 220km</p>
          <p><i class="icon ion-ios-cart-outline"></i> 34</p>
        </div>
      </ion-item>

      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/face.png" class="find-list-logo">
        <div class="find-list-detail">
          <h2>大学生如何稳扎稳打实现自己的创业梦</h2>
          <p><span>CEO</span><span>职业经理人</span></p>
        </div>
        <div class="find-list-say">
          <p><i class="icon ion-ios-location-outline"></i> 220km</p>
          <p><i class="icon ion-ios-cart-outline"></i> 34</p>
        </div>
      </ion-item>

      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/face2.jpeg" class="find-list-logo">
        <div class="find-list-detail">
          <h2>大学生如何稳扎稳打实现自己的创业梦</h2>
          <p><span>CEO</span><span>职业经理人</span></p>
        </div>
        <div class="find-list-say">
          <p><i class="icon ion-ios-location-outline"></i> 220km</p>
          <p><i class="icon ion-ios-cart-outline"></i> 34</p>
        </div>
      </ion-item>

      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/face3.jpeg" class="find-list-logo">
        <div class="find-list-detail">
          <h2>大学生如何稳扎稳打实现自己的创业梦</h2>
          <p><span>CEO</span><span>职业经理人</span></p>
        </div>
        <div class="find-list-say">
          <p><i class="icon ion-ios-location-outline"></i> 220km</p>
          <p><i class="icon ion-ios-cart-outline"></i> 34</p>
        </div>
      </ion-item>


      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/face.jpeg" class="find-list-logo">
        <div class="find-list-detail">
          <h2>大学生如何稳扎稳打实现自己的创业梦</h2>
          <p><span>CEO</span><span>职业经理人</span></p>
        </div>
        <div class="find-list-say">
          <p><i class="icon ion-ios-location-outline"></i> 220km</p>
          <p><i class="icon ion-ios-cart-outline"></i> 34</p>
        </div>
      </ion-item>


      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/logo.png" class="find-list-logo">
        <div class="find-list-detail">
          <h2>大学生如何稳扎稳打实现自己的创业梦</h2>
          <p><span>CEO</span><span>职业经理人</span></p>
        </div>
        <div class="find-list-say">
          <p><i class="icon ion-ios-location-outline"></i> 220km</p>
          <p><i class="icon ion-ios-cart-outline"></i> 34</p>
        </div>
      </ion-item>

      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/face.png" class="find-list-logo">
        <div class="find-list-detail">
          <h2>大学生如何稳扎稳打实现自己的创业梦</h2>
          <p><span>CEO</span><span>职业经理人</span></p>
        </div>
        <div class="find-list-say">
          <p><i class="icon ion-ios-location-outline"></i> 220km</p>
          <p><i class="icon ion-ios-cart-outline"></i> 34</p>
        </div>
      </ion-item>

      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/face2.jpeg" class="find-list-logo">
        <div class="find-list-detail">
          <h2>大学生如何稳扎稳打实现自己的创业梦</h2>
          <p><span>CEO</span><span>职业经理人</span></p>
        </div>
        <div class="find-list-say">
          <p><i class="icon ion-ios-location-outline"></i> 220km</p>
          <p><i class="icon ion-ios-cart-outline"></i> 34</p>
        </div>
      </ion-item>

      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/face3.jpeg" class="find-list-logo">
        <div class="find-list-detail">
          <h2>大学生如何稳扎稳打实现自己的创业梦</h2>
          <p><span>CEO</span><span>职业经理人</span></p>
        </div>
        <div class="find-list-say">
          <p><i class="icon ion-ios-location-outline"></i> 220km</p>
          <p><i class="icon ion-ios-cart-outline"></i> 34</p>
        </div>
      </ion-item>


      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/face.jpeg" class="find-list-logo">
        <div class="find-list-detail">
          <h2>大学生如何稳扎稳打实现自己的创业梦</h2>
          <p><span>CEO</span><span>职业经理人</span></p>
        </div>
        <div class="find-list-say">
          <p><i class="icon ion-ios-location-outline"></i> 220km</p>
          <p><i class="icon ion-ios-cart-outline"></i> 34</p>
        </div>
      </ion-item>

      <ion-item   class="list-inset item-thumbnail-left"  collection-item-width="100%">
        <img  ng-src="img/face.jpeg" class="find-list-logo">
        <div class="find-list-detail">
          <h2>大学生如何稳扎稳打实现自己的创业梦</h2>
          <p><span>CEO</span><span>职业经理人</span></p>
        </div>
        <div class="find-list-say">
          <p><i class="icon ion-ios-location-outline"></i> 220km</p>
          <p><i class="icon ion-ios-cart-outline"></i> 34</p>
        </div>
      </ion-item>


    </ion-list>

  </ion-content>
</ion-view>
