<ion-view hide-nav-bar="true" class="user" view-title="个人中心">


  <ion-content class="user-content">
    <ion-list class="user-list">
      <ion-item class="user-img" style="background: #c3d7ef;">
        <img src="/img/logo.png" class="avatar" />
        <h2>Kate</h2>
        <button>匠友中心</button>
      </ion-item>

     <ion-item class="user-list-button">
       <div>
         <i class="ion-ios-paper-outline"></i>
         <p>待付款</p>
       </div>
       <div>
         <i class="ion-ios-paperplane-outline"></i>
         <p>约见</p>
       </div>
       <div>
         <i class="ion-ios-compose-outline"></i>
         <p>评价</p>
       </div>
       <div>
         <i class="ion-ios-list-outline"></i>
         <p>订单</p>
       </div>
     </ion-item>
      <ion-item class="item-divider">
      </ion-item>
      <ion-item ng-click="" class="icon-left ion-ios-arrow-right">
        会员中心
      </ion-item>
      <ion-item ng-click="" class="icon-left ion-ios-arrow-right">
        钱包
      </ion-item>
      <ion-item ng-click="" class="icon-left ion-ios-arrow-right">
        收藏
      </ion-item>
      <ion-item ng-click="" class="icon-left ion-ios-arrow-right">
        成长经历
      </ion-item>
      <ion-item class="item-divider">
      </ion-item>
      <ion-item ng-click="" class="icon-left ion-ios-arrow-right">
        帮助
      </ion-item>
      <ion-item ng-click="" class="icon-left ion-ios-arrow-right">
        在线客服
      </ion-item>
      <ion-item ng-click="" class="icon-left ion-ios-arrow-right">
        设置
      </ion-item>
    </ion-list>


  </ion-content>

</ion-view>
